<!DOCTYPE html>
<html lang="en">
  <title>Register</title>
<head>
  <%- include ../partials/head.ejs %>
</head>
<body class="container">

<header>
  <%- include ../partials/header.ejs %>
</header>

<main>
  <div class="jumbotron">
    <h1>Registration Page...</h1>
    <p>some more words</p>

    <div class="list-group">
        <a href="/register/studentregister" class="list-group-item list-group-item-action">
          <h3>Student Registration</h3>
          <p class="mb-1">For Students</p>
        </a>
        <a href="/register/profregister" class="list-group-item list-group-item-action">
            <h3>Professor Registration</h3>
            <p class="mb-1">For professors</p>
        </a>
      </div>
  </div>
</main>

<footer>
  <%- include ../partials/footer.ejs %>
</footer>

</body>
</html>
