<!DOCTYPE html>
<html lang="en">
  <title>Home</title>
<head>
  <%- include partials/head.ejs %>
</head>
<body class="container">

<header>
  <%- include partials/header.ejs %>
</header>

<main>
  <div class="jumbotron">
    <h1>Home page...</h1>
    <p>some more words</p>
  </div>
</main>

<footer>
  <%- include partials/footer.ejs %>
</footer>

</body>
</html>
